<html>
  <head>
    <title>Blood Connect Chat Room</title>
    <link rel="stylesheet" type="text/css" href="/static/djangoChat/css/normalize.css" />
    <link href="/static/djangoChat/css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <script type="text/javascript"> 
      jsonData = {{data}};
    </script>
   <script data-main="/static/djangoChat/dist/scripts/main" type="text/javascript" src="/static/djangoChat/dist/scripts/vendor/requirejs/require.js"></script>
    
  </head>
  <body>
    {% block body %}
    <h1>Hello, world!</h1>
    
    {% endblock body %}
   
  </body>
</html>
