{% extends "djangoChat/main.html" %}
{% block content-body %}
<html>
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
</head>
<body>
	
<div class="container" style="max-width:400px">

      <form method="post" class="form-signin">
	{% csrf_token %}
        <h2 class="form-signin-heading">Enter Your Credentials:</h2>
        <input type="text" name="username" class="form-control" placeholder="username" value="{{user}}"autofocus>
	<br/>
        <input type="password" name="password" class="form-control" placeholder="Password">
	<br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enter Chat Room</button>
      </form>
		<p>{{error}}</p>
    </div> <!-- /container -->

</body>
</html>
{% endblock %}
