{%extends "blood/base.html" %}
{% block content-body %}
<center><h2 style="color:#800000;">Donate</h2><center>
<p>
Want to be a life saver for someone.This is the app for you.</p>
<center><h2 style="color:#800000;">Receive</h2><center>
<p>Find Blood Donors.And spread your need among other people</p>
<center><h2 style="color:#800000;">Blood Camp</h2></center>
<p>    Want to organise a blood donation camp.We are here for you and blood donors across the country are waiting for you.</p>
<center><h2 style="color:#800000;">Share Your Stories</h2></center>
<p>    Share your blood donation experiences and inspire others.. </p>
</p>
{% endblock %}
