{%extends "blood/base.html" %}
{% block content-body %}

<h2 style="color:#800000;">About the Developers:</h2>
<p  style="color:#800000;">
We are third year students from International Institute of Information Technology, Hyderabad who are enthusiastic in web development to make applications which can help people/society.
</p>

<p>

Email: akash.agrawall094@gmail.com<br/>
Contact:+91 8790058787<br/><br/>

Email: ashish.kumar@research.iiit.ac.in<br/>
Contact:+91 9581528645
<br/><br/>
Email: ankitkotak93@gmail.com<br/>
Contact:+91 8297102102
<br/><br/>
Email: vivek.jain@research.iiit.ac.in<br/>
Contact:+91 9160246203
</p>
{% endblock %}
