{% extends "blood/base.html" %}
{% load i18n %}
{% block content-body %}
<html>
<head>

    <!-- Bootstrap CSS -->
    <!-- BootstrapValidator CSS -->
    <link rel="stylesheet" href="../../static/dist/css/bootstrapValidator.min.css"/>

    <!-- jQuery and Bootstrap JS -->
    <script type="text/javascript" src="../../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>

    <!-- BootstrapValidator JS -->
    <script type="text/javascript" src="../../static/dist/js/bootstrapValidator.min.js"></script>
</head>
<script src="//cdn.ckeditor.com/4.4.3/basic/ckeditor.js"></script>
<script src="//cdn.ckeditor.com/4.4.3/basic/adapters/jquery.js"></script>
<script>


$(document).ready(function() {
    $('#profileForm')
        .bootstrapValidator({
            excluded: [':disabled'],
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                description: {
                    validators: {
                        notEmpty: {
                            message: 'The full name is required and cannot be empty'
                        }
                    }
                },
                bio: {
                    validators: {
                        notEmpty: {
                            message: 'The bio is required and cannot be empty'
                        },
                        callback: {
                            message: 'Story must be less than 200 characters long',
                            callback: function(value, validator, $field) {
                                // Get the plain text without HTML
                                var div  = $('<div/>').html(value).get(0),
                                    text = div.textContent || div.innerText;

                                return text.length <= 200;
                            }
                        }
                    }
                }
            }
        })
        .find('[name="bio"]')
            .ckeditor()
            .editor
                // To use the 'change' event, use CKEditor 4.2 or later
                .on('change', function() {
                    // Revalidate the bio field
                    $('#profileForm').bootstrapValidator('revalidateField', 'bio');
                });
});


</script>
<center><h3> Share your story with us </h3></center>
<br/>
<br/>
<form id="profileForm" method="post" action="/blood/putstory/" class="form-horizontal">{% csrf_token %}
    <div class="form-group">
        <label class="col-md-3 control-label">Title</label>
        <div class="col-md-5">
            <input type="text" class="form-control" name="description" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Story</label>
        <div class="col-md-9">
            <textarea class="form-control" name="bio" style="height: 400px;"></textarea>
        </div>
    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
</form>
{% endblock %}
