{% extends "blood/base.html" %}
{% load a %}
{% load i18n %}
{% block content-body %}
<div class="container">
	<h1 style="color: #666d89; font-family: 'Montserrat', sans-serif;">Hello {{user}}</h1>
	<p style="color: #666d89; font-family: 'Montserrat', sans-serif;">Every two seconds, a patient in the World is in need of blood. In fact, about one of every seven people entering a hospital requires a blood transfusion. These startling statistics underscore the crucial nature of blood donation. Yet, only about 3% of the population currently gives blood. The number one reason these donors say they give is because they “want to help others.”</p>

{% if camp_list %}
	<h3>We have following Camps</h3>
	<ul class="list">
	{% for camp in camp_list %}
		<li class="well">
		<table class="table">
			<tr>
			<th class="blood_type">{{ camp.name }}</th>
			<th class="number_of_units"></th>
			</tr>
			<tr>
			<th>Address:</th> <td class="location"> {{ camp.address }} </td>
			</tr>
			<tr>
				<th>Started on:</th> <td class="placed_at"> {{ camp.sdate }} </td>
			</tr>
			<tr>
				<th>Ended on:</th> <td class="placed_at"> {{ camp.edate }} </td>
			</tr>
			<tr>
				<th><a href="/blood/camp_post/{{camp.id}}">User's View</a></th>
				{% ifequal  flag|check:camp.id  0%}
					<th><a href="/blood/camp_donate/{{camp.id}}">Donate</a></th>
				{% endifequal %}
			</tr>
		</table>
		</li>
	{% endfor %}
	</ul>
{% else %}
<h3 style="position:relative;left: 3%;"> No Camps found </h3> <img src="/static/img/red-smiley-face-md.png" alt="" style="height:250px;width:250px;"/>
{% endif %}
</div>
{% endblock %}
